@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.about-us{
  height: 100vh;
  width: 100%;
  background: #ddd;
}
.about{
  width:100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 6px;
}
section >h2{
    text-align: center;
    background-color: antiquewhite;
    height: 210px;
}
section >h1{
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
}

section >h4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
section >h3{
    text-align: center;
}


.time{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#contact {
  padding: 5rem 0;
  background: rgb(226, 226, 226);
}

.contact-container {
  display: flex;
  background: #fff;
}

.contact-img {
  width: 50%;
}

.contact-img img {
  display: block;
  height: 400px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  outline: none;
  padding: 1rem 0;
  resize: none;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.form-container button{
  font-size: 1.3rem;
  width: 60px;
  border: 1px solid black;
  border-radius: 4px;
  color:black;
  background-color: rgb(82, 234, 82);
}

#footer h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 2.6rem;
  font-weight: 500;
  color: #fff;
  background: rgb(65, 65, 65);
}


footer{
    text-align: center;
    padding: 4px;
    background-color: rgb(156, 156, 160);
    color:black;
    border-top-style:double;
    height: 60px;
}

footer>h4 a{
    font-size: 20px;
    color:black;
    text-decoration: none;
}
